<%- include('header'); %>

  <main id="container">
    <h1>Bebidas</h1>

    <section class="pai">

      <article class="card">
        <img src="<%= bebidas_s[2] %>" alt="coca">
        <div class="card-content">
          <h2 class="card-title">Coca-Cola 2L</h2>
          <p class="card-subtitle">Refrigerante tradicional.</p>
          <p class="card-subtitle">R$ 12,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[3] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Brahma</h2>
          <p class="card-subtitle">Cerveja Brahma lata.</p>
          <p class="card-subtitle">R$ 7,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[7] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Suco Natural</h2>
          <p class="card-subtitle">Suco de laranja fresco.</p>
          <p class="card-subtitle">R$ 6,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[1] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Água Mineral</h2>
          <p class="card-subtitle">Sem gás, 500ml.</p>
          <p class="card-subtitle">R$ 3,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[4] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Itaipava Mega Latão</h2>
          <p class="card-subtitle">Cerveja Itaipava latão.</p>
          <p class="card-subtitle">R$ 6,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[6] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Skol</h2>
          <p class="card-subtitle">Cerveja Skol lata.</p>
          <p class="card-subtitle">R$ 4,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[5] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Guarapan 2L</h2>
          <p class="card-subtitle">Refrigerante de guarapan.</p>
          <p class="card-subtitle">R$ 6,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card">
        <img src="<%= bebidas_s[0] %>" alt="bebida">
        <div class="card-content">
          <h2 class="card-title">Água com Gás</h2>
          <p class="card-subtitle">Com gás, 500ml.</p>
          <p class="card-subtitle">R$ 3,00</p>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

    </section>
  </main>
  
  <%- include('footer'); %>