<%- include('header'); %>
  
<main id="container">

  <h1>Pizzas Salgadas</h1>

  <section class="pai">

    <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[3] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Marguerita</h2>
        <cite class="card-subtitle">
          <p>Clássica com tomate, manjericão e muçarela.</p>
          <p>R$ 25,00</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>

    <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[4] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Calabresa</h2>
        <cite class="card-subtitle">
          <p>Com cebola, orégano e calabresa fatiada.</p>
          <p>R$ 30,00</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>

    <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[6] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Quatro Queijos</h2>
        <cite class="card-subtitle">
          <p>Muçarela, provolone, gorgonzola e parmesão.</p>
          <p>R$ 35,00</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>

    <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[1] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Frango com Catupiry</h2>
        <cite class="card-subtitle">
          <p>Frango desfiado com catupiry verdadeiro.</p>
          <p>R$ 32,00</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>


     <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[0] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Alfredo</h2>
        <cite class="card-subtitle">
          <p>Molho Alfredo, Frango desfiado, Cogumelos e Queijo mozzarella.</p>
          <p>R$ 29,00</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>

           <article class="card overlay">
      <div class="image-wrap">
         <img src="<%= pizza_sal[5] %>" alt="Pizza Salgada">
      </div>
      <div class="card-content">
        <h2 class="card-title">Bacon</h2>
        <cite class="card-subtitle">
          <p>Com cebola, orégano e calabresa fatiada.</p>
          <p>R$ 38,99</p>
        </cite>
        <button class="btn-adicionar">Adicionar</button>
      </div>
    </article>

  </section>
</main>
<%- include('footer'); %>