<%- include('header'); %>

  <main id="container">
    <h1>Pizzas Doces</h1>

    <section class="pai">

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[2] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Chocolate</h2>
          <cite class="card-subtitle">
            <p>Chocolate ao leite derretido com granulados.</p>
            <p>R$ 28,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[1] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Banana com Canela</h2>
          <cite class="card-subtitle">
            <p>Banana caramelizada com açúcar e canela.</p>
            <p>R$ 26,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[4] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Sensação</h2>
          <cite class="card-subtitle">
            <p>Chocolate com morango fresco em pedaços.</p>
            <p>R$ 32,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[5] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Creme Morango</h2>
          <cite class="card-subtitle">
            <p>Nutella cremosa com morangos frescos.</p>
            <p>R$ 35,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[0] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Açai</h2>
          <cite class="card-subtitle">
            <p>Pizza de açai com leite em pó e creme de morango</p>
            <p>R$ 29,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= pizzas_d[3] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">MM</h2>
          <cite class="card-subtitle">
            <p>Chocolate com MM</p>
            <p>R$ 29,00</p>
          </cite>
          <button class="btn-adicionar">Adicionar</button>
        </div>
      </article>

    </section>
  </main>

  <%- include('footer'); %>